{% extends 'base.html' %}
{% block content %}
<section class="container" style="margin-left: -5px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col" style="background-color: #f8f9fa; display:flex; justify-content: center; margin: 5px;">
            <p style="margin-top: 10px;">Nome da Série: {{review.serie_name}}</p>
        </div>
        <div class="col" style="background-color: #f8f9fa; display:flex; justify-content: center; margin: 5px;">
            <p style="margin-top: 10px;">Gênero: {{review.serie_genre}}</p>
        </div>

        <div class="col" style="background-color: #f8f9fa; display:flex; justify-content: center; margin: 5px; margin-right: -5px">
            <p style="margin-top: 10px;">Nota: {{review.serie_rating}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: #f8f9fa; margin: 5px; margin-right: -5px">
            <p>Sinopse: </p>
            <p>{{review.serie_info}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: #f8f9fa; margin: 5px; margin-right: -5px">
            <p>Observações:</p>
            <p>{{review.serie_note}}</p>
        </div>
    </div>
</section>
{% endblock %}